
manuel-deployment/.ipynb_checkpoints/
*.keras
manuel-deployment/end_to_end_detect_llm/
manuel-deployment/.env
.ipynb_checkpoints/
detect_llm_kfp_pipeline.json
vertex-kfp-pipeline/pipeline_vertex/__pycache__/
vertex-kfp-pipeline-cicd/pipeline_vertex/__pycache__/
manuel-deployment/config.yaml
vertex-kfp-pipeline/detect_llm_kfp_train_and_deploy.yaml
vertex-kfp-pipeline/detect_llm_kfp_tune_hyperparameters.yaml
